@import "tokens/colors.css";

* {
  margin: 0;
  padding: 0;
  min-height: 0px;
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
  background: transparent;
  color: @on_surface;
}

window#waybar.empty #window {
  background-color: transparent;
  padding: 0 10px;
}

tooltip {
  background-color: @surface_container;
  border: 1px solid @surface_container_highest;
  border-radius: 12px;
}

tooltip label {
  padding: 8px 10px;
  color: @secondary_fixed_dim;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#bluetooth,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpris,
#custom-arch,
#custom-search,
#custom-swaync,
#custom-power,
#mpd {
  margin: 4px 5px;
  padding: 6px 12px;
  background-color: @surface_container;
  border-radius: 20px;
  color: @secondary_fixed_dim;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#bluetooth:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpris:hover,
#custom-arch:hover,
#custom-search:hover,
#custom-swaync:hover,
#custom-power:hover,
#mpd:hover,
#window:hover {
  background-color: @surface_container_high;
}

#custom-arch {
  color: @primary;
  font-size: 20px;
  padding: 6px 15px 6px 10px;
}

#power-profiles-daemon,
#idle_inhibitor {
  padding: 6px 15px 6px 10px;
}

#idle_inhibitor {
  min-width: 18px;
  padding: 6px 16px 6px 10px;
}

#cpu,
#memory,
#temperature,
#bluetooth,
#language,
#backlight {
  padding: 6px 10px;
}

#network {
  padding: 6px 10px 6px 8px;
}

#tray {
  padding: 6px 10px;
}

#custom-power {
  color: @primary;
  padding: 6px 14px;
}

#custom-swaync,
#custom-search,
#custom-media,
#mpris,
#mpd {
  padding: 6px 12px;
}

#clock {
  padding: 6px 10px;
}

#battery {
  padding: 6px 16px;
}

#workspaces {
  margin: 4px 5px;
  padding: 6px 6px;
  background-color: @surface_container;
  border-radius: 20px;
}

#workspaces button {
  min-width: 32px;
  padding: 0 4px;
  margin: 0 2px;
  background: transparent;
  border-radius: 16px;
  color: @tertiary;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#workspaces button.active {
  padding: 0 12px;
  margin: 0 2px;
  background-color: @primary;
  color: @on_primary;
}

#workspaces button.special {
  color: @tertiary_fixed;
}

#workspaces button:hover {
  background-color: @surface_container_highest;
  color: @primary;
}

#workspaces button.active:hover {
  background-color: @primary;
  color: @on_primary;
}

#workspaces button.empty {
  color: @outline_variant;
}

#workspaces button.urgent {
  color: @error_container;
}

#tray>.passive,
#tray>.active,
#tray>.needs-attention {
  -gtk-icon-effect: none;
}

#battery.charging,
#power-profiles-daemon.power-saver {
  color: #a6e3a1;
}

#idle_inhibitor.activated,
#cpu.warning,
#disk.warning,
#memory.warning,
#battery.warning:not(.charging) {
  color: #f9e2af;
}

#network.disabled,
#cpu.critical,
#disk.critical,
#memory.critical,
#temperature.critical,
#battery.critical:not(.charging),
#power-profiles-daemon.performance {
  color: #f38ba8;
}

#pulseaudio.muted,
#pulseaudio.source-muted,
#network.disconnected,
#bluetooth.disabled {
  color: @outline;
}

#window {
  margin: 4px 5px;
  padding: 6px 12px;
  background-color: @surface_container;
  border-radius: 20px;
  color: @secondary_fixed_dim;
}

#pulseaudio-slider slider,
#backlight-slider slider {
  min-height: 12px;
  min-width: 12px;
  margin: -2px 0;
  border-radius: 100%;
  background-color: @primary;
}

#pulseaudio-slider trough,
#backlight-slider trough {
  min-width: 80px;
  min-height: 10px;
  border-radius: 10px;
  background-color: @outline_variant;
}

#pulseaudio-slider highlight,
#backlight-slider highlight {
  min-height: 10px;
  border-radius: 10px;
  background-color: @secondary_fixed_dim;
}

#custom-cava_mviz {
  color: #f5c2e7;
}
